<script>
    navigator.geolocation.getCurrentPosition(showPosition);

    function showPosition(position) {
        currentPosition = [position.coords.latitude, position.coords.longitude];
        console.log(currentPosition);
        fetch("/dashboard/update", {
            method: "POST",
            headers: {
                Accept: "application/json",
                "Content-Type": "application/json",
            },
            body: JSON.stringify({ currentPosition }),
        })
        .then(async (response) => {
            const data = await response.json();
            if (data.success === true) {
                console.log("location updated");
            } else {
                window.location.href = '/dashboard'
            }
        })
        .catch((err) => {console.log(err)});
    }
</script>

<div class='dash_head_flex'>
    <div>
        <a href="/leaderboard">
            <i class="fas fa-trophy"></i> 
        </a>
    </div>
    <h1 id="tasks_heading">Tasks</h1>
    <div>
        <a href="/profile">
            <i class="fa fa-user"></i> 
        </a>
    </div>
</div>

<h2 id="tasks_h2">Chosen</h2>
<div class="dash_flex">
<% for (var i = 0; i < task.length; i++){ %>
    <% if (task[i].acceptedBy == user._id && task[i].isCompleted == false){ %>
        <div id="task" onclick='window.location.href = "/taskinfo?taskid=<%= task[i]._id%>"'>
            <div class='task_title'><%= task[i].title %></div>
            <div class='task_type'><%= task[i].typeOfTask.slice(0, 1).toUpperCase() %></div>
        </div>
    <% } %>
<% } %>
</div>

<h2 id="tasks_h2">Available</h2>
<div class="dash_flex">
<% for (var i = 0; i < task.length; i++){ %>
    <% if (task[i].acceptedBy != user._id && task[i].isAccepted == false){ %>
        <div id="task" onclick='window.location.href = "/taskinfo?taskid=<%= task[i]._id%>"'>
            <div class='task_title'><%= task[i].title %></div>
            <div class='task_type'><%= task[i].typeOfTask.slice(0, 1).toUpperCase() %></div>
        </div>
    <% } %>
<% } %>
</div>
