<h1 id="tasks_heading">Tasks</h1>

<h2 id="tasks_h2">Chosen</h2>
<div class="dash_flex">
<% for (var i = 0; i < task.length; i++){ %>
    <% if (task[i].acceptedBy == user._id && task[i].isCompleted == false){ %>
        <div id="task" onclick='window.location.href = "/taskinfo?taskid=<%= task[i]._id%>"'>
            <div class='task_title'><%= task[i].title %></div>
            <div class='task_type'><%= task[i].typeOfTask.slice(0, 1).toUpperCase() %></div>
        </div>
    <% } %>
<% } %>
</div>

<h2>Not chosen</h2>
<div class="dash_flex">
<% for (var i = 0; i < task.length; i++){ %>
    <% if (task[i].acceptedBy != user._id && task[i].isAccepted == false){ %>
        <div id="task" onclick='window.location.href = "/taskinfo?taskid=<%= task[i]._id%>"'>
            <div class='task_title'><%= task[i].title %></div>
            <div class='task_type'><%= task[i].typeOfTask.slice(0, 1).toUpperCase() %></div>
        </div>
    <% } %>
<% } %>
</div>

<a href="/profile">
    <button type="button" class="profile_btn">
        Profile
    </button>
</a>