<br>
<a href="/dashboard" class="back">Back</a>

<div class="profile-div">
    <img src="<%=user.pfp%>" alt="<%=user.name%>'s pfp"> <br>
    <div class="details">
        <span>
            Name :
        </span><%=user.name%> <br>
        <span>
            Email :
        </span> <%=user.email%> <br>
        <span>
            Caterpillars :
        </span> <%=user.caterpillars%>
    </div>
    <br>
    <a href="/auth/logout">Logout</a>
</div>
