<p>Name: <%= user.name %></p>
<p>Email: <%= user.email %></p>
<p>Caterpillars: <%= user.caterpillars %></p>

<h2 id="tasks_h2">Current Tasks</h2>
<div class="dash_flex">
    <% for (var i = 0; i < tasks.length; i++){ %>
        <% if (user.currentTasks.indexOf(tasks[i]._id) != -1) { %>
            <div class="task-container" onclick='window.location.href = "/admin/taskinfo?id=<%= tasks[i]._id%>"'>
                <div class='task_title'><%= tasks[i].title %></div>
                <div class='task_type'><%= tasks[i].typeOfTask.slice(0, 1).toUpperCase() %></div>
            </div>
        <% } %>
    <% } %>
</div>

<h2 id="tasks_h2">Completed Tasks</h2>
<div class="dash_flex">
<% for (var i = 0; i < tasks.length; i++){ %>
    <% if (user.completedTasks.indexOf(tasks[i]._id) != -1) { %>
        <div class="task-container" onclick='window.location.href = "/admin/taskinfo?id=<%= tasks[i]._id%>"'>
            <div class='task_title'><%= tasks[i].title %></div>
            <div class='task_type'><%= tasks[i].typeOfTask.slice(0, 1).toUpperCase() %></div>
        </div>
    <% } %>
<% } %>
</div>

