<link rel="stylesheet" href="/css/styles.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">
<style>
    .material-icons-outlined{
        font-family: 'Material Icons', sans-serif;
    }
</style>
<div class="admin-nav">
    <img src="<%=user.pfp%>" alt="<%=user.name%>'s pic">
    <div class="user-info">
        <p> <span>Name:</span> <%= user.name %></p>
        <p><span>Email:</span> <%= user.email %></p>
        <p><span>Caterpillars:</span> <%= user.caterpillars %></p>
    </div>
    <br><br><br>
    <a href="/admin" id="back">Back</a>
</div>
<div class="user-task-div">
    <h2 id="tasks_h2">Current Tasks</h2>
    <div class="dash_flex">
        <% for (var i = 0; i < tasks.length; i++){ %>
            <% if (user.currentTasks.indexOf(tasks[i]._id) != -1) { %>
                <div class="task-container" onclick="modal()" >
                    <div class='task_title'><%= tasks[i].title %></div>
                    <div class='task_type'><%= tasks[i].typeOfTask.slice(0, 1).toUpperCase() %></div>
                </div>
            <% } %>
        <% } %>
    </div>
    <h2 id="tasks_h2">Completed Tasks</h2>
    <div class="dash_flex">
        <% for (var i = 0; i < tasks.length; i++){ %>
            <% if (user.completedTasks.indexOf(tasks[i]._id) != -1) { %>
                 <div class="task-container"  onclick="modal('<%= tasks[i]._id %>')">
                    <div class='task_title'><%= tasks[i].title %></div>
                    <div class='task_type'><%= tasks[i].typeOfTask.slice(0, 1).toUpperCase() %></div>
                </div>
            <% } %>
        <% } %>
    </div>
</div>
<div class="modal-div" style="margin-left: -.65vw;">
    <div class="task-info-modal">
        <div class="modal-close" onclick="closeModal()">
            <span class="material-icons-outlined">
                close
            </span>
        </div>
        <div id="main-info">
            <div id="loader">
                <div class="lds-ripple"><div></div><div></div></div>
            </div>
        </div>
    </div>
</div>
<script>
    function modal(taskid){
        const modal = document.querySelector(".modal-div");
        const infoDiv = document.getElementById('main-info');
        const loader = document.getElementById('loader');

        modal.style.display = "block";
        
        fetch(`/admin/taskinfo?id=${taskid}`, {method: 'GET'})
        .then((res)=>{
            loader.style.display = "none";
            infoDiv.innerHTML = `<p>Task: ${res.body.title}</p>
            <p>Description: ${res.body.description}</p>
            <p>Chosen on: ${res.body.acceptedDate}</p>
            <p>Caterpillars: Daalne hain abhi</p>`
        })
        .catch(err=>console.log(err));

    }
    function closeModal(){
        var modal = document.querySelector(".modal-div");;
        modal.style.display = "none";
    }
</script>




